.card {
  min-width: 285px;
  max-width: 400px;
  max-height: 250px;
  background: var(--card-color);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

.card > .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: var(--default-text-color);
}

.card > .body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: var(--default-text-color);
}

.card > .text {
  line-height: 20px !important;
}
