.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--default-blue-color);
  color: var(--default-white-color);
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header div a {
  color: var(--default-white-color);
  padding: 10px;
}

.header > div > a > img {
  width: 5rem;
  padding: 5px;
}
