.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #4e7eff;
  color: white;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header div a {
  color: white;
  padding: 10px;
}

.header > div > a > img {
  width: 5rem;
  padding: 5px;
}
