.userContainer {
  background-color: var(--default-white-color);
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  display: grid;
}

.userContainer {
  min-height: 500px;
}

.end {
  justify-content: flex-end;
  align-items: center;
}

.start {
  justify-self: flex-start;
  align-items: center;
}

.cardStart {
  margin-left: 10%;
}

.cardEnd {
  margin-right: 10%;
}
