.pageContainer {
  background-color: var(--default-white-color);
  width: 100%;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  padding: 3%;
  align-items: center;
}

.userContainer {
  min-height: 500px;
}

.start {
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

.score {
  width: 100%;
  font-size: 60px;
  letter-spacing: 0.5;
  text-align: center;
}

.cardBody {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .end {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
