@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
