@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Work+Sans:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --default-white-color: #f4f4f4;
  --default-blue-color: #4e7eff;
  --default-success-color: rgba(56, 251, 88, 0.32);
  --default-text-color: #8f8f8f;
  --dark-text-color: #302d2d;
  --card-color: rgba(244, 244, 244, 0.32);
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  --line-color: #d8d8d8;
  --body-color: #e7e7e7;
}

.success {
  background-color: var(--default-success-color) !important;
}

.default {
  background-color: var(--default-blue-color) !important;
}

body {
  background-color: var(--body-color);
}

.small-text {
  font-size: 15px !important;
}

.large-text {
  font-size: 18px !important;
  font-weight: bold !important;
}

hr {
  border-bottom: -0.5px solid var(--default-text-color);
  width: 80%;
}

.clickable {
  cursor: pointer;
}

.mt-1 {
  margin-top: 3px;
}

.mt-2 {
  margin-top: 6px;
}

.mt-3 {
  margin-top: 9px;
}

.mt-4 {
  margin-top: 12px;
}
